.galeria-opis {
  text-align: center;
  font-size: 1rem;
  color: white;
  margin-bottom: 1.5rem;
}

.galeria-foldery-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.folder-button {
  font-size: 1rem;
  padding: 0.8rem 2rem;
  background: #ffbb00;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
  width: fit-content;
}

.folder-button:hover {
  background: #ffaa00;
}

.galeria-scroll {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  padding-bottom: 1rem;
}

.galeria-miniatura {
  width: 80%;
  max-width: 600px;
  border-radius: 15px;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}
.folder-back-button {
  margin-top: 2rem;
  font-size: 1rem;
  padding: 0.8rem 2rem;
  background: #ffbb00;
  color: black;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  transition: background 0.3s ease;
}

.folder-back-button:hover {
  background: #ffaa00;
}
