.regulamin {
  color: white;
  padding: 2rem;
  width: 100%;
  max-width: 800px; /* Dla estetyki */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkowanie poziome */
  text-align: center; /* Tekst wycentrowany */
  overflow-x: hidden; /* Usuwamy poziomy scroll */
}

.regulamin h2 {
  margin-top: 0;
  font-size: 2rem;
}

.regulamin section {
  width: 100%;
  margin-bottom: 2rem;
}

.regulamin section h3 {
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
  color: #ffbb00;
}

.regulamin ul {
  list-style-position: inside;
  padding: 0;
  margin: 0 auto;
  text-align: left; /* Punktory zostają wyrównane do lewej */
}

.regulamin li {
  text-align: center; /* Treść wiersza centrowana */
}
