.regulamin {
  color: white;
  padding: 2rem;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  overflow-x: hidden;
}

.regulamin h2 {
  margin-top: 0;
  font-size: 2rem;
}

.regulamin section {
  width: 100%;
  margin-bottom: 2rem;
}

.regulamin section h3 {
  font-size: 1.2rem;
  margin-bottom: 0.75rem;
  color: #ffbb00;
}

.regulamin ul {
  list-style-position: inside;
  padding: 0;
  margin: 0 auto;
  text-align: left; 
}

.regulamin li {
  text-align: center; 
}

@media (max-width: 768px) {
  .regulamin {
    padding: 1rem;
    max-width: 90vw;
    font-size: 0.90rem;
  }
}
